@page {
    size: A4 portrait;
    margin: 1cm 1.5cm;
}

body {
    font-size: 10px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 0.75cm;
    border-top: 3px solid black;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer--bad {
	border-color: #de2d00
}

.footer__name {
}

.footer__calcs {
    
}

.footer__page {
}