.header {
	position: relative;
}

.header__banner {
	width: 100%;
}

.header__name {
	position: absolute;
	top: 10.714285714%;
	left: 26.666667%;
	width: 39%;
}

.title {
	margin-top: 200px;
	margin-bottom: 200px;
}

.title__superTitle {
	display: block;
	margin-bottom: 15px;
	text-align: center;	
	color: black;
}

.title__name {
	display: block;
	margin-bottom: 10px;
	text-align: center;
}

.title__types {
	display: block;
	margin-bottom: 15px;
	font-size: 17px;
	text-align: center;
}