/* Standard container object for a single small image and a caption. */
.imageBlock {
	margin: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	width: 200px;
}

/* An outer container object, can hold multiple images and a caption. */
.imageBlock--multi {
	/* We can fit 2 images per line. */
	width: 400px;
	
	width: 350px;
	margin: 0px;
}

/* Image container for when we want the image as big as possible. */
.imageBlock--wide {
	width: auto;
	height: auto;
	margin: 0;
}

/* Contains text about the image. */
.imageBlock__caption,
.image__caption {
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	border-top: 2px solid #2B649D;
	padding: 4px 10px 4px 10px;
}

.imageBlock__caption {
	margin-top: 5px;
	font-weight: bold;	
}

.image {
	width: 175px;
	text-align: center;
}

.image__caption {
	display: inline-block;
}

/* A container object for images so they layout nicely. */
.image__aligner {
	/* Flex breaks weasyprint here sadly. */
	/*display: flex;
	align-items: center;
	justify-content: center;*/
	position: relative;
	width: 175px;
	height: 175px;
}

.image__aligner--wide {
	width: auto;
	height: auto;
	padding: 0px;
}

/* The actual image/graphic. */
.image__img {
	/* Center align hack because we can't use flexbox */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	max-width: 165px;
	max-height: 165px;
}

.image__img--wide {
	width: 700px;
	max-height: none;
	max-width: none;
	position: static;
	transform: none;
}
