@page {
	margin: 2.25cm 1cm 1.85cm 1cm;
	size: A4;
}

* {
	/*outline: 1px solid red;*/
}

body {
	font-family: "Liberation Sans", Arial, sans-serif;
	font-size: 13px;
	width: 19cm;
	margin: 0px;
	/*line-height: normal;*/
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
	margin: 0px;
}

h1 {
	color: #2B649D;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	font-style: italic;
	font-size: 26px;
	color: #2B649D;
}

h3 {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 20px;
}


.reportHeader {
	text-align: center;
	
}

.reportHeader--minor {
	font-size: 21px;
	/*font-weight: bold;*/
	margin-top: 10px;
	margin-bottom: 3px;
	color: #2B649D;
	
}

.section {
	width: 19cm;
	page-break-inside: avoid;
	margin-bottom: 10px;	
}

/* A modifier for sections that need at least one whole page. */
.section--fullPage {
	page-break-before: always;
}

.section__header {
	border-bottom: 3px solid #2B649D;
	/*margin-top: 10px;*/
	width: 19cm;
	page-break-after: avoid;
	/* Prevent section header's from taking up more than one line (which will break layout otherwise). */
	text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
}

.section__body {
	page-break-before: avoid;
	width: 19cm;
	/*display: inline-flex;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
}

/* Sections that only contain simple text (so need some padding) */
.section__body--text {
	padding: 10px;
}